.item--container {
	lost-align: center;
}

.item--item {
	font-size: 5rem;
	display: inline-block;
	&:hover {
		color: $purple;
		font-family: TB;
  	animation: 5s linear infinite lang;
	}
}

.item--pic {
	position: absolute;
	bottom: 0;
	height: 80%;
	z-index: -1;
}

.item--desc {
	position: absolute;
	left: 4em;
	font-family: T;
	top: 25vh;
	font-size: 1.5rem;
	color: $green;
	width: 200px;
	span {
		display: block;
		color: $red;
	}
}