.nav {
	position: fixed;
	bottom: 4rem;
	left: 4rem;
	font-style: italic;
	text-decoration: underline;
	font-size: 1.2rem;
	color: $purple;
	z-index: 1;
	a {
		display: block;
	}
}

#underthehoodman {
	font-size: 1rem;
	position: absolute;
	bottom: 3em;
}