<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="theme-color" content="#ffffff" />

  <meta name="description" content="EVAN KYSLEY+BRUTALIST DESIGN" />
  <meta name="keywords" content="design, evan kysley, evan, kysley, brutalist, portfolio, works, work" />
  <meta property="og:url" content="http://evan.works/" />
  <meta property="og:site_name" content="EVAN WORKS" />
  <meta property="og:title" content="EVAN WORKS" />
  <meta property="og:description" content="EVAN KYSLEY+BRUTALIST DESIGN" />
  <meta property="og:type" content="website" />

  <meta name="twitter:site_name" content="EVAN WORKS" />
  <meta name="twitter:title" content="EVAN WORKS" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="EVAN KYSLEY+BRUTALIST DESIGN" />


  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="app"></div>
</body>

</html>