* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../img/cursor.png) 25 30, auto;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--sansSerif);
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  min-width: 100vw;
  max-width: 100vw;
  letter-spacing: .02rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: .2s all ease-in-out;

  span {
    display: block;
  }
}
