* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../img/cursor.png) 25 30, auto;
}

body {
  background: $white;
  color: $black;
  font-family: var(--sansSerif);
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  letter-spacing: .02rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: .2s all ease-in-out;

  span {
    display: block;
  }
}

.NOT-RESPONSIVE {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 15rem;
  top: 0;
  position: fixed;
  color: #E40066;
  background-color: #000000;
  word-wrap: break-word;
  overflow: hidden;
}